body
{
	background-image:url(../img/background.jpg);
	background-repeat: repeat;
    background-size: 1370px 800px;
}
table.login
{
	margin: 1% 24% 0% 24%;
	border: 10px solid rgb(0,111,25);
	padding: 5px 5px;
    font-family:tahoma;
	font-weight:bold;
	font-size:18px;
	width:800px;
	background-color:white;
}
table.connection
{
	margin: 10% 36% 0% 36%;
	border: 10px solid rgb(0,111,25);
	border-radius:5%;
	padding: 5px 5px;
    font-family:tahoma;
	font-weight:bold;
	font-size:18px;
	width:380px;
	background-color:white;
}
a.cc
{
  display:inline;
  background-color:white;
  border:2px solid cornflowerblue;
  color:cornflowerblue;
  padding: 0px 5px;
  margin-bottom:5px;
  text-decoration:none;
  font-family:tahoma;
  border-radius:10px;
}
a.cc:hover
{
  display:inline;
  background-color:cornflowerblue;
  border:2px solid cornflowerblue;
  color:white;
  padding: 0px 5px;
  margin-bottom:5px;
  text-decoration:none;
  font-family:tahoma;
  border-radius:10px;
}
input[type="image"].return
{
	margin-left:40px;
	width:40px;
	height:40px;
}
input[type=text]{

  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=password]{

  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=date]{

  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type="submit"]
{
	margin-left:47%;
	font-family:tahoma;
	background-color:rgb(0,111,25);
	color:white;
	font-size:15px;
	font-weight:bold;
}
input[type="submit"]:hover
{
	margin-left:47%;
	font-family:tahoma;
	background-color:white;
	color:green;
	font-size:15px;
	font-weight:bold;
}
textarea{

  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
select
{
  margin-right:88px;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
h1.title
{
	color:white;
	font-family:tahoma;
	font-size:25px;
	text-decoration:underline;
	text-align:center;
	text-shadow: 
	3px 3px 0 black,
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}
h4.errorConnexion
{
	color:red;
	font-family:tahoma;
	text-shadow: 
	1px 1px 0 black,
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
	 margin-left:36%;
}
a.shadowed
{
	font-family:tahoma;
	font-size:18px;
	color:white;
	text-decoration:none;
	margin: 17% 36%;
		text-shadow: 
	1px 1px 0 black,
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}
a.button
{
	margin-left:80%;
	font-family:tahoma;
	background-color:green;
	border:3px solid white;
	color:white;
    padding: 5px 5px;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	width:300px;

}
a.button:hover
{
	margin-left:80%;
	font-family:tahoma;
	background-color:white;
	border:3px solid green;
	color:green;
    padding: 5px 5px;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	width:300px;
}

table.menu {
	width: 100%;
	margin-top:1%;
	border-width:5px;
	border-style:inset;
	border-color:cornflowerblue;
	background-color:white;
}
th.menu, td.menu {
	background-color:white;
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	text-align:center;
}

tr.menu:hover {background-color :lightsteelblue}
tr.menu:nth-child(even) {background-color: #f2f2f2;}

a.menu{
background-color :dodgerblue;
border: none;
color: white;
padding: 15px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size:20px;
margin: 10px 1px;
position:relative;
top: 40px;
left: 600px;
right: 4px;

font-family: 'Hind Vadodara',sans-serif;

}

img.alert
{
	width:50px;
	height:50px;
}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background:#FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	width:400px; 
	z-index: 10;
    border-style:inset;
    border-color:rgb(0,128,64);
}

#dialogboxhead{ background: #f2f2f2; font-size:19px; padding:10px; font-family:tahoma;color:rgb(0,70,35); }
#dialogboxbody{ background:white; padding:20px; color:black;font-family:tahoma; }
#dialogboxfoot{ background: #f2f2f2; padding:10px; text-align:center; }

/* Début administrateurs_stats_index.php */
.stats{
	padding: 0.5em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.stat{
	background-color: rgba(30, 30, 30, 0.9);
	border: 2px solid black;
	border-radius: 12px;
	margin: 0.5em;
	position: relative;

	width: 450px;
	height: auto;
	max-height: 98vh;
}

.stat > canvas{
	max-height: 100% !important;
	max-width: 100% !important;
}

/* Fin administrateurs_stats_index.php */